* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #000000;
    color: #ffffff;
    max-width: 1300px;
    margin: 2rem auto;
    padding: 0 0.78125rem; 
}

a {
    color: #ffffff;
}

.recipes {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 3rem;
    margin: 1.5rem 0;
}

.caption p:nth-child(2) {
    margin-top: 1rem;
}
